fieldset
{
	width: 50%;
}
fieldset:nth-of-type( n + 2 ), p
{
	display: none;
}
span
{
	float: right;
	position: absolute;
	top: 10%;
	left: 30%;
}
fieldset input
{
	float: left;
}
fieldset label
{
	float: left;
}
fieldset label + input
{
	clear: both;
}
label
{
	margin-bottom: .5em;
}
button
{
	position: absolute;
	top: 400px;
	padding: 1.5em;
}
