body
{
	background-color: #E6F1F6;
}

form
{
	position: absolute;
	width: 50%;
	top: 50%;
	left: 30%;
}

#task
{
	background-color: cyan;
	width: 50%;
	height: 10%;
	left: 10%;
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 2%;
}

#controls
{
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	left: 5%;
	width: 70%;
	padding: 2%;
}

button
{
	padding: 1%;
}

input[type=checkbox]
{
	width: 20px;
	height: 20px;
}

#runner
{
	margin-left: 5%;
	padding: 1em;
}

#timerArrow
{
	margin-left: 2%;
}

.overdue
{
	color: red;
	font-weight: bold;
}

.upcoming
{
	background-color: #f54b5f;
}
